<head>
  <!-- <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io.connect('http://localhost:3002');
  </script> -->
  <!-- <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script> -->
  <style>
    body {
  overflow: hidden; /* Hide scrollbars */
}
  </style>
</head>
<body>
<!-- <h1>livestream</h1> -->
<div>
  <img src="/video_feed" width="100%">

</div>
</body>